.temp-unit {
  color: #a5a5a5;
  cursor: pointer;
}

.active-temp-unit {
  color: white;
}

.location-result-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.city-name {
  font-size: 2rem;
}

.day {
  font-size: 1.2rem;
}

.middle-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.temp-container span {
  display: inline;
  vertical-align: top;
}

.temp-digit {
  font-size: 3.5rem;
}

.weather-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: fit-content;
}

.bottom-container {
  display: flex;
  margin: 1rem 0;
}

.one-day-weather {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.temp-unit {
    font-size: 1.3rem;
}